<div class="jumbotron my-2" style="background-color:black">
    <h1 class="display-4" style="color:white"><i class="fas fa-crow"></i> Northwind</h1>
    <p class="lead" style="color:ghostwhite">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p style="color:ghostwhite">For exceptional international cuisine, look no further.</p>
    <a class="btn btn-outline-light btn-lg" href="#" role="button" style="color:cyan"><i class="fas fa-shopping-cart"></i> Order Now</a>
</div>

@section Scripts {
    <script type="text/javascript" src="/js/client.js"></script>
}
